@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin: 0;
}

.BrowserBar {
  width: 100%;
  margin-top: 5px;
  display: flex;
  gap: 6px;
  align-items: center;
  height: 65px;
  background-color: transparent;
  flex-direction: row;
}

#BigBoyForm {
  height: 65px;
}

.Tab {
  width: 200px;
  height: 57px;
  border-radius: 5px;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideUp 0.5s ease forwards;
  /* Initially hide the element */
  transform: translateY(100%);
  opacity: 0;
  z-index: -5;
  align-items: center;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
  }
}

.BigLine p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin-left: 7px;
}

.LittleLine {
  background: rgb(105, 227, 74);
  background: linear-gradient(
      90deg,
      rgba(105, 227, 74, 1) 0%,
      rgba(25, 126, 0, 1) 100%
  );
  width: 100%;
  height: 4px;
  border-radius: 100px;
}

.BigLine {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.BigLine a {
  margin-left: auto;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #1c1c1c;
  width: 25px;
  height: 25px;
  display: flex;
  font-size: 10px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.adds {
  width: 45px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  height: 45px;
  font-weight: lighter;
}

.ActionBar {
  width: 100%;
  height: 47.5px;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.BrowserControls,
.BrowserExtras {
  height: 37px;
  background-color: #141414;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.BrowserControls button,
.BrowserExtras button {
  background-color: transparent;
  color: #757478;
  font: 200;
  border: none;
}

.BrowserControls span,
.BrowserExtras span {
  font-weight: 250;
}

.BrowserSearch {
  width: calc(100% - 10px);
  height: 37px;
  background-color: #141414;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.BrowserSearch input {
  width: inherit;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  height: inherit;
  color: white;
  border: none;
}

#BigBoyForm {
  width: 100%;
  height: 35px;
}


.BrowserSearch input:focus {
  outline: none;
  margin-left: 5px;
}

.SafetyIcon {
  width: 35px;
  display: flex;
  justify-content: center;
  color: #6B6875;
  align-items: center;
  border-radius: 8px;
  height: 35px;
  background-color: #242424;
}

.SafetyIcon span {
  font-size: 18px;
}

#Iframeholder {
  width: 100%;
  height: 83vh;
}

#Iframeholder iframe {
  width: 100%;
  height: inherit;
  border: none;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from fully transparent */
  }
  to {
    opacity: 1; /* End at fully opaque */
  }
}


.Extensions {
  width: 300px;
  background-color: rgb(23, 23, 23);
  border-radius: 10px;
  position: absolute;
  top: 390px;
  left: 89%;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 999;
}


#NoExtensionsAvailable {
  height: 500px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

#NoExtensionsAvailable h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgb(67, 67, 67);
}

.SpanLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: rgb(67, 67, 67);
  font-weight: 50;
  height: 100px;
}

.SpanLogo span {
  font-size: 50px;
}

.ExtensionCard {
  width: 285px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  height: 75px;
  background-color: rgb(33, 33, 33);
}


.ExtensionCard img {
  width: 65px;
  border-radius: 5px;
  border: 2px solid rgb(57, 57, 57);
  height: 65px;
  margin-top: 3px;
}

.bigbox {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 75px;
}


.ExtensionCard button {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  background-color: rgb(39, 168, 39);
  color: white;
  margin-left: auto;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
}

.ExtensionCard p {
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  color: white;
}

#NoExtensionsAvailable button {
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 25px;
  background-color: #242424;
  color: white;
  width: 250px;
  height: 35px;
}

      /* width */
      ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #1b1b1b;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #3cd134;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #30d12a;
      }